{% assign sections = 'Getting Started|Core Concepts|Templating Reference|Plugins|Deployment|Advanced Usage' | split: '|' %}

<button class="docs-nav__button">
  Docs
</button>

<nav class="docs-nav">
  <button class="docs-nav__close">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M15.854 12.854L11 8l4.854-4.854a.503.503 0 0 0 0-.707L13.561.146a.499.499 0 0 0-.707 0L8 5 3.146.146a.5.5 0 0 0-.707 0L.146 2.439a.499.499 0 0 0 0 .707L5 8 .146 12.854a.5.5 0 0 0 0 .707l2.293 2.293a.499.499 0 0 0 .707 0L8 11l4.854 4.854a.5.5 0 0 0 .707 0l2.293-2.293a.499.499 0 0 0 0-.707z"/></svg>
  </button>

  {% for section in sections %}
    <section class="docs-nav__section">
      <h6 class="docs-nav__section__title">{{ section }}</h6>
      <ul class="docs-nav__section__list">
        {% for post in site.categories.docs %}
          {% if post.section == section %}
            <li class="docs-nav__section__list-item"><a href="{{ post.url }}" class="docs-nav__section__link{% if page.title == post.title %} is-active{% endif %}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</nav>
