.btn {
    padding: 1em 1.6em;
    text-decoration: none;
    border-radius: 5px;
    font-family: $title;
    transition: background-color 150ms $standard, color 150ms $standard;

    &--white {
        color: $orange;
        background-color: white;

        &:hover { background-color: $grey-light; }
    }

    &--sub {
        padding: 0.4em 0.6em;
        border: 1px solid $orange-dark;
        border-radius: 3px;
        background-color: $orange;
        background-image: linear-gradient(to top, rgba(white, 0), rgba(white, 0.1));
        color: white;
        font-size: 0.9rem;
        font-family: $font;

        &:hover { background-color: $orange-light; }
    }
}
