.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $grey;
    font-size: 0.8rem;
    padding: 2em 0;
    border-top: 1px solid $grey;

    p {
        margin: 0 0 0.5em;
    }

    a { color: black; text-decoration: none; }

    &__links a:not(:first-child) {
        margin-left: 3em;
    }
}
