.docs {
    display: flex;
    padding-top: 3em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    max-width: $max-width;

    @include media($on-mobile) {
        padding-top: 0;
        box-sizing: border-box;
        display: block;
        width: 100%;
        max-width: 100%;
    }

    @include media($on-laptop) {
        padding-left: 1em;
        padding-right: 1em;
    }

    &-nav {
        box-sizing: border-box;
        width: 25%;
        padding-right: 2em;
        padding-bottom: 2em;
        font-size: 0.9rem;

        @include media($on-mobile) {
            position: fixed;
            z-index: 99999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            padding: 2em;
            box-sizing: border-box;
            overflow: auto;
            opacity: 0;
            pointer-events: none;
            transition: opacity 150ms $standard;

            &.is-active {
                opacity: 1;
                pointer-events: initial;
            }
        }

        &__button {
            display: none;
            padding: 0.6em 0.8em;
            border: 1px solid $grey-light;
            border-radius: 3px;
            margin-top: 3em;
            margin-bottom: 4em;
            background: $grey-lighter;
            font-size: 0.8rem;
            font-family: inherit;

            @include media($on-mobile) {
                display: block;
            }
        }

        &__close {
            position: absolute;
            top: 1em;
            right: 1em;
            display: none;
            border: none;
            background: none;

            @include media($on-mobile) {
                display: block;
            }
        }

        &__section {
            & + & {
                margin-top: 2em;
            }

            &__title {
                color: $grey-dark;
                font-size: 1em;
                margin: 0 0 1em;
            }

            &__list {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

            &__link {
                display: inline-block;
                box-sizing: border-box;
                color: $grey;
                text-decoration: none;
                margin-bottom: 0.5em;
                border: 1px solid transparent;

                &.is-active { color: $orange; }
                &:hover { color: $grey-dark; }
            }
        }
    }

    &-post {
        flex: 2;
        max-width: 700px;
        line-height: 1.5;
        font-family: $body;
        margin-bottom: 3em;

        &__header {
            padding-bottom: 1.2em;
            margin-bottom: 1.5em;
            border-bottom: 1px solid lighten($grey-light, 8%);
        }

        &__title {
            margin: 0;
            line-height: 1;
            font-size: 2.5rem;
        }

        &__primer {
            font-size: 1.2rem;
            color: $grey;
        }

        &__content {
            h2 {
                margin-top: 2em;
                color: $grey;
            }

            h3 {
                font-weight: 400;
                margin-top: 2em;
                margin-bottom: 0.5em;

                + p { margin-top: 0; }
            }

            h4 {
                margin-bottom: 0.5em;
                font-weight: 400;

                + p { margin-left: 1em; margin-top: 0; }
            }

            table {
                border-collapse: collapse;

                th {
                    font-size: 0.8rem;
                    color: $grey;
                    padding-left: 0.7em;
                    border-bottom: 1px solid $grey-light;
                }

                td {
                    padding: 0.5em;
                    border-bottom: 1px solid $grey-light;

                    code { white-space: pre; }
                }

                th, td {
                    &:not(:first-child) { border-left: 1px solid $grey-light; }
                }
            }

            a {
                color: $blue;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            pre, code {
                font-family: $monospace;
                background-color: $grey-lighter;
                font-size: 0.8em;
                border-radius: 3px;
                border: 1px solid $grey-light;
            }

            code {
                padding: 0.2em 0.3em;
            }

            pre {
                padding: 1em;
                overflow-x: auto;
            }

            pre code {
                background-color: transparent;
                border: none;
                padding: 0;
                font-size: 1em;
            }

            .req {
                text-align: center;

                & + .req { margin-top: 3em; }

                img {
                    display: block;
                    margin: 0 auto 1em;
                }
            }
        }

        &__footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 3em;

            a {
                color: $blue;
                text-decoration: none;
                
                &:hover { text-decoration: underline; }
            }
            svg {
                vertical-align: middle;
                fill: $blue;
            }
        }

        &__end {
            border-top: 1px solid $grey-light;
            padding-top: 2em;
            margin-top: 2em;
            color: $grey;
            font-size: 0.9em;

            a {
                color: $blue;
                text-decoration: none;

                &:hover { text-decoration: underline; }
            }
        }
    }

    &-post-model {
        &__header {
            display: flex;
            align-items: center;

            h1 { margin: 0 1em 0 0; }

            .btn {
                & + .btn { margin-left: 1em; }
            }
        }

        &__content {
            h4 { margin-left: 1em; }
        }
    }
}
