.docs {
    display: flex;
    padding-top: 3em;
    margin: 0 auto;
    max-width: $max-width;

    &-nav {
        box-sizing: border-box;
        width: 300px;
        padding-right: 2em;
        font-size: 0.8rem;

        &__section {
            & + & {
                margin-top: 1em;
            }

            &__title {
                font-size: 1em;
                margin: 0 0 0.4em;
                font-family: $title;
            }

            &__list {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

            &__link {
                display: block;
                box-sizing: border-box;
                color: $blue;
                text-decoration: none;
                padding: 0.4em;
                width: 100%;
                border: 1px solid transparent;

                &.is-active {
                    border-radius: 3px;
                    border-color: $grey-light;
                    background-color: darken($grey-lighter, 5%);
                }
            }
        }
    }

    &-post {
        flex: 2;
        max-width: 700px;
        line-height: 1.5;
        font-size: 0.9rem;
        margin-bottom: 3em;

        &__title {
            margin-top: 0;
        }

        &__primer {
            font-size: 1.2rem;
            color: $grey;
        }

        &__content {
            h2 {
                margin-top: 2em;
                color: $grey;
            }

            h3 {
                font-weight: 400;
                margin-top: 2em;
                margin-bottom: 0.5em;

                + p { margin-top: 0; }
            }

            h4 {
                margin-bottom: 0.5em;
                font-weight: 400;

                + p { margin-left: 1em; margin-top: 0; }
            }

            table {
                border-collapse: collapse;

                th {
                    font-size: 0.8rem;
                    color: $grey;
                    padding-left: 0.7em;
                    border-bottom: 1px solid $grey-light;
                }

                td {
                    padding: 0.5em;
                    border-bottom: 1px solid $grey-light;

                    code { white-space: pre; }
                }

                th, td {
                    &:not(:first-child) { border-left: 1px solid $grey-light; }
                }
            }

            a {
                color: $orange;
            }

            pre, code {
                font-family: $monospace;
                background-color: darken($grey-lighter, 5%);
                font-size: 0.8em;
                padding: 0.2em 0.3em;
                border-radius: 3px;
                border: 1px solid $grey-light;
            }

            pre {
                padding: 0.6em;
                overflow-x: auto;
            }

            pre code {
                background-color: transparent;
                border: none;
                padding: 0;
                font-size: 1em;
            }

            .req {
                text-align: center;

                & + .req { margin-top: 3em; }

                img {
                    display: block;
                    margin: 0 auto 1em;
                }
            }
        }

    }

    &-post-model {
        &__header {
            display: flex;
            align-items: center;

            h1 { margin: 0 1em 0 0; }

            .btn {
                display: flex;
                font-size: 0.7rem;
                padding: 0.4em 0.6em;
                color: white;

                &:hover { color: $orange-dark; }

                & + .btn { margin-left: 1em; }
            }
        }

        &__content {
            h4 { margin-left: 1em; }
        }
    }
}
