<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {{ content }}


    <script>
      (function(f,l,n,t,c,m,s){f['GoogleAnalyticsObject']=c;f[c]=f[c]||function(){
      (f[c].q=f[c].q||[]).push(arguments)},f[c].l=1*new Date();m=l.createElement(n),
      s=l.getElementsByTagName(n)[0];m.async=1;m.src=t;s.parentNode.insertBefore(m,s)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-100407710-1', 'auto');
      ga('send', 'pageview');
    </script>

    <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
  </body>

</html>
