---
layout: default
---
<main class="docs">
  {% include docs-nav.html %}

  <article class="docs-post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="docs-post__header">
      <h1 class="docs-post__title" itemprop="name headline">{{ page.title }}</h1>
    </header>

    <div class="docs-post__content" itemprop="articleBody">
      {{ content }}
    </div>

    <footer class="docs-post__footer">
      {% if page.previous %}
        <a href="{{ page.previous.url }}">{% include svgs/chevron-left.svg %} {{ page.previous.title }}</a>
      {% endif %}
      {% if page.next %}
        <a href="{{ page.next.url }}">{{ page.next.title }} {% include svgs/chevron-right.svg %}</a>
      {% endif %}
    </footer>

    <p class="docs-post__end">Find a mistake or want to help improve this documentation? <a href="{{ site.docs-github_repo }}/edit/master/{{ page.path }}">Suggest changes on GitHub.</a></p>
  </article>
</main>
