// Circular
@font-face {
	font-family: 'Circular Std';
	src: url('/assets/fonts/CircularStd-Bold.eot');
	src: url('/assets/fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/CircularStd-Bold.woff') format('woff'),
		url('/assets/fonts/CircularStd-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@import './mixins';
@import './variables';
@import './normalize';